* {
    box-sizing: border-box;
}

body {
    width: 100vw;     
    margin: 0;
    padding: 0;
}

div.contenedor {  
    display: flex; 
    flex-wrap: wrap;  
    flex-direction: row; 
    justify-content: center;  
    width: 100vw;      
    height: 100vh; 
}

div[class*="item-"] {      
    flex-grow: 1;
    display: flex;
    flex-direction: column;         
}


/* @media (max-width: 740px) {
    div[class*="item-"] {      
        flex-basis: 100%;  
        
     }
} */

div[class="item-4"] {    
    flex-grow: 2;
}

div[class*="subitem-"] {   
    background-color: rgba(223, 235, 135, 0.745);
    border: 3px solid #aaa; 
    flex-grow: 1;
    flex-basis: 50%;  
    
    justify-content: center;
    display: flex;
    color:black;
    font-size: 30px;
    font-family: sans-serif;
    align-items: center;
}

div[class*="subitem-4"] {    
    flex-basis: 20%; 
}

div[class="subitem-42"] {
    flex-grow: 4;
}

/* @media (max-width: 740px) {
    div[class*="subitem-"] {  
        flex-grow: 1;
        flex-basis: 100vh;         
    }
} */


